.botonesInteractivos {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.boton {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid black;
    cursor: grab;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.boton:hover {
    background-color: rgb(212, 212, 212);
}

/* Medidas botones */
.bGrande {
    width: 100px;
    height: 147px;
    font-size: 6em;
}
.bMediano {
    width: 75px; 
    height: 110.25px;
    font-size: 4.5em; 
}
.bChico {
    width: 50px; 
    height: 73.5px;
    font-size: 3em; 
}

/* Ubicaciones puntos */
#punto1 {
    grid-row: 1/1;
    grid-column: 1/1;
}
#punto2 {
    grid-row: 2/2;
    grid-column: 1/1;
}
#punto3 {
    grid-row: 3/3;
    grid-column: 1/1;
}
#punto4 {
    grid-row: 1/1;
    grid-column: 2/2;
}
#punto5 {
    grid-row: 2/2;
    grid-column: 2/2;
}
#punto6 {
    grid-row: 3/3;
    grid-column: 2/2;
}

/* Estilo de punto y punto presente */
.punto {
    background-color: #00000011;
    border-radius: 50%;
    margin: auto;
    cursor: grab;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.puntoPresente {
    background-color: #000;
}

/* Medidas puntos */
.pGrande {
    width: 30px;
    height: 30px;
    font-size: 100%;
}
.pMediano {
    width: 22.5px; 
    height: 22.5px;
    font-size: 75%; 
}
.pChico {
    width: 15px; 
    height: 15px;
    font-size: 50%; 
}

/* Signo completo */
.signoCmplt > #punto1, 
.signoCmplt > #punto2, 
.signoCmplt > #punto3, 
.signoCmplt > #punto4, 
.signoCmplt > #punto5, 
.signoCmplt > #punto6 {
    background-color: #000;
}
/* Signo número */
.signoNumero > #punto3,
.signoNumero > #punto4,
.signoNumero > #punto5,
.signoNumero > #punto6 {
    background-color: #000;
}

