* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.content {
    width: 100%;
    height: auto;
    padding: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pantalla {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parrafo {
    width: 150px;
    height: 50px;
    border: 1px solid black;
}


.botones {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.boton {
    width: 47px;
    height: 77px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid black;
    cursor: grab;
}
#punto1 {
    grid-row: 1/1;
    grid-column: 1/1;
}
#punto2 {
    grid-row: 2/2;
    grid-column: 1/1;
}
#punto3 {
    grid-row: 3/3;
    grid-column: 1/1;
}
#punto4 {
    grid-row: 1/1;
    grid-column: 2/2;
}
#punto5 {
    grid-row: 2/2;
    grid-column: 2/2;
}
#punto6 {
    grid-row: 3/3;
    grid-column: 2/2;
}
 

.punto {
    background-color: #00000038;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: auto;
    cursor: grab;
    border: 1px solid black;
}

.boton:hover {
    background-color: rgb(212, 212, 212);
}

.puntoPresente {
    background-color: #000;
}

