/* TODO EL DOCUMENTO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main {
    background-color: #ffebcd;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 20px;
}

.main > section {
    border-bottom: 4px solid orangered;
    
    padding-bottom: 20px;
}

.titulosh2 {
    font-size: 1.8em;
}

/* PRIMERA PARTE: PRESENTACIÓN DEL TEMA */
.info {
    display: flex;
    flex-direction: column;
}
.info-h1 {
    text-align: center;
    padding: 20px;
    font-size: 2em;
}
.info-p {
    text-align: center;
    margin-bottom: 3em;
    font-size: 1.2em;
}
.info-indice {
    width: 100%;
    height: auto;
    display: flex;
    align-content: center;
}
.indice {
    width: 30%;
    height: auto;
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.indice-ul{
    list-style: none;
}
.container__div-info {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.info-div {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
    gap: 10px;
}
.info-div__botones {
    display: flex;
    gap: 10px;
}
.info__div-p {
    display: inline-block;
    width: 30%;
    text-align: center;
    align-self: center;
}
.signoGeneradorNumeros {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SEGUNDA PARTE: ALFABETO */
.alfabeto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.alfabetoFila{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.articleFila3-4, .articleFila5-6{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
#alfabetoF3-p {
    width: 500px;
}
#alfabetoF4-p {
    width: 200px;
}
.alfabeto__signos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 5px;
    gap: 10px;
}
.alfabeto__letras{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 5px;
    gap: 10px;
}
.alfabeto__letra {
    border: 1px solid black;
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.alfabeto__letra span {
    margin-top: -15px;
}
.alfabeto__letra:hover {
    background-color: rgb(212, 212, 212);
}
.alfabeto-p{
    display: inline-block;
    width: 85%;
    text-align: center;
    font-size: 1.2em;
    text-wrap: balance;
}

/* PARTE: MINIJUEGO DE LETRAS */
.content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.pantalla {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.parrafo {
    width: 90%;
    height: 120px;
    /* border: 1px solid black; */
    font-size: 2em;
    word-wrap: break-word;
    overflow: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding: 20px;
    border-top: 2px solid orangered;
}
.botones{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}
.botones > button {
    color: white;
    background-color: orangered;
    outline: none;
    height: auto;
    padding: 5px;

}

/* Formar palabras */
.formarPalabras {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 750px) {
    #info-div2{
        flex-direction: column;
    }
    .info__div-p {
        width: 100%;
    } 
}