/* TODO EL DOCUMENTO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main {
    background-color: #ffebcd;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 20px;
}
.main > section {
    border-top: 4px solid #ff4500;
    padding-bottom: 20px;
}
.main > section:first-child {
    border: none;
}

.titulosh2 {
    font-size: 2.7em;
    background-color: #ff885c;
    padding: 10px;
    width: 100%;
    text-align: center;
    text-wrap: balance;
}

/* PRIMERA PARTE: PRESENTACIÓN DEL TEMA */
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-h1 {
    width: 100%;
    text-align: center;
    margin: 20px;
    font-size: 3.5em;
    border-bottom: 4px solid #ff4500;
}
.info-p {
    text-align: center;
    margin-bottom: 3em;
    font-size: 1.2em;
}
.info-indice {
    width: 100%;
    height: auto;
    display: flex;
    align-content: center;
}
.indice {
    width: 30%;
    height: auto;
    background-color: #add8e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}
.indice-h2 {
    font-size: 1.5em;
    text-align: center;
}
.indice-lista{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.indice-lista__a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    border: 1px solid #000;
    padding: 10px;
}
.indice-lista__a:hover {
    background-color: #c6f1ff;
}
.container__div-info {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 10px;
}
.info-div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
    gap: 10px;
}
.info__div-p {
    display: inline-block;
    width: 30%;
    text-align: left;
    align-self: center;
    text-wrap: balance;
}
#signoGeneradorNumeros {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

/* SEGUNDA PARTE: ALFABETO */
.alfabeto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
}
.alfabetoFila{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.articleFila3-4, .articleFila5-6{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.alfabeto__signos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    gap: 10px;
}
.alfabeto__letras{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    gap: 10px;
}
.alfabeto__letras > .alfabeto__letra {
    border: 1px solid #000;
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.alfabeto__letra > span {
    margin-top: -5px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alfabeto__letra:hover {
    background-color: rgb(212, 212, 212);
}
.alfabeto-p{
    max-width: 900px;
    text-align: center;
    font-size: 1.2em;
    text-wrap: balance;
}
#alfabetoF3-p {
    max-width: 450px;
}
#alfabetoF4-p {
    max-width: 200px;
}

/* TERCERA PARTE: NÚMEROS */
.numeros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.explicacionNumeros1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.explicacionNumeros1__P {
    font-size: 1.2em;
    display: inline-block;
    width: 60%;
    text-align: center;
}
.explicacionNumeros2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.filaNumeros{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.contendorLetraNumero {
    border: 1px solid #000;
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.contendorLetraNumero:hover {
    background-color: rgb(212, 212, 212);
}
.contendorLetraNumero > span {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.explicacionNumeros3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.explicacionNumeros__P {
    text-align: center;
    font-size: 25px;
}
.explicacionNumeros__P2 {
    width: 70%;
    text-align: center;
    font-size: 1.2em;
    text-wrap: balance;
}
.explicacionNumeros2__divRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.explicacionNumeros2__div {
    display: flex;
    flex-direction: column-reverse;
}
.expl_ejemplo__p {
    font-size: 2em;
}

/* PARTE: MINIJUEGO DE LETRAS */
.content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.pantalla {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.parrafo {
    width: 90%;
    height: 120px;
    font-size: 2em;
    word-wrap: break-word;
    overflow: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding: 20px;
    border-top: 2px solid #ff4500;
}
.botones{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}
.botones > button {
    color: #fff;
    background-color: #ff4500;
    height: auto;
    padding: 10px;
    font-size: 20px;
    cursor: grab;
}
.botones > button:hover {
    background-color: #d43901;
}

/* Formar palabras */
.formarPalabras, .formarNumeros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
}
.formarPalabra__div, .formarNumero__div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    flex-grow: 2;
}
.formarPalabraDiv__input, .formarNumeroDiv__input {
    border: none;
    outline: none;
    flex-grow: 1;
    height: 50px;
    padding: 20px;
    font-size: 20px;
    background-color: transparent;  
    border: 1px solid #ff4500;
    border-bottom: 4px solid #ff4500;
}
.formarPalabraDiv__input:focus, .formarNumeroDiv__input:focus {
    background-color: #fcdeb2;
}
.formarPalabraDiv__button, .formarNumeroDiv__button {
    height: 50px;
    font-size: 20px;
    text-align: center; 
    vertical-align: middle; 
    line-height: normal; 
    padding: 10px 20px; 
    cursor: grab;
    color: #fff;
    background-color: #ff4500;
}
.formarPalabraDiv__button:hover, .formarNumeroDiv__button:hover {
    background-color: #d43901;
}

/* FOOTER */
.footer {
    width: 100%;
    height: 50px;
    background-color: #000;
    border-top: 4px solid #ff4500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer__a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}
.footer__a:hover {
    color: #ff4500;
}
.footer__div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.footerDiv__a{
    display: inline-flex;
}
.footerDiv__icono {
    filter: invert(100%);
    width: 2em; 
    height: 2.5em; 
}
.footerDiv__a:hover{
    filter: url(#orange-filter);
}
.footer__div:nth-child(2) .footerDiv__a:nth-child(2) .footerDiv__icono {
    width: 1.75em; 
    height: 2.25em;
    margin-top: 2px; 
}


/* MEDIA QUERIES */
@media only screen and (max-width: 750px) {
    #info-div2{
        flex-direction: column;
    }
    .info__div-p {
        width: 100%;
    } 
}
@media only screen and (max-width: 605px) {
    .indice {
        display: none;
    }
    .articleFila3-4, .articleFila5-6{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
